<div class="row" ng-init="">
  <div class="page-header">
    <h3><small><a class="text-primary" ui-sref="selectors">Add</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></small> Start Converting Files</h3>
  </div>
  <div class="col-md-6 col-offset-6">
    <p>
      Start converting config files and new configurations.
    </p>
    <button type="button"
      class="btn btn-success btn-fill"
      ng-if="!processStart"
      ng-click="configure()">Start&nbsp;&nbsp;<i class="fa fa-angle-right white"></i></button>
  </div>
  <div class="col-md-12 margin-top-20">
    <pre ng-bind="processConsole">
    </pre>
  </div>
</div>
