<div class="row">
  <div class="page-header">
    <h3>Add The Following Files</h3>
  </div>
  <div class="col-md-6">
    <h5>Root Folder <small>Root folder that contains application code.</small></h5>
    <button type="button"
      class="btn btn-info btn-fill btn-xs"
      ng-disabled="application.state.root.fetching"
      ng-click="openDir('root')">Select root&nbsp;&nbsp;<i class="fa fa-plus white"></i></button>
      <small ng-bind="application.state.root.text"></small>
      <small ng-bind="application.names.root"></small>
  </div>
  <div class="col-md-6">
    <h5>pom.xml <small>Maven configuration file that contains list of project dependencies.</small></h5>
    <button type="button"
      class="btn btn-info btn-fill btn-xs"
      ng-disabled="application.state.pom.fetching"
      ng-click="openFile('pom')">Select file&nbsp;&nbsp;<i class="fa fa-plus white"></i></button>
      <small ng-bind="application.state.pom.text"></small>
      <small ng-bind="application.names.pom"></small>
  </div>
  <div class="col-md-6 margin-top-20">
    <h5>dispatcher-servlet.xml <small>XML file that contains Dispatcher Servlet code.</small></h5>
    <button type="button"
      class="btn btn-info btn-fill btn-xs"
      ng-disabled="application.state.servlet.fetching"
      ng-click="openFile('servlet')">Select file&nbsp;&nbsp;<i class="fa fa-plus white"></i></button>
      <small ng-bind="application.state.servlet.text"></small>
      <small ng-bind="application.names.servlet"></small>
  </div>
  <div class="col-md-6 margin-top-20">
    <h5>Base Package Name <small>The name of the root folder which contains all JAVA code.</small></h5>
    <input type="text"
      name="basePackageName"
      placeholder="For example: com.migrationframework.app.sample"
      class="form-control"
      ng-change="validateApp()"
      ng-model="application.basePackageName">
  </div>
  <div class="col-md-6 margin-top-20">
    <h5>View Resolvers</h5>
      <!-- Please comment out the code for any kind of View Resolvers configured in the application. -->
      <p>
        <input type="checkbox"
          ng-model="application.viewFile"
          ng-change="validateApp('viewr'); application.contents.viewr = null; application.names.viewr = ''">
        <small>
          &nbsp;Your view resolvers are written in a separate file and not in <strong>dispatcher-servlet.xml</strong>
        </small>
      </p>
      <button
        ng-if="application.viewFile"
        type="button"
        class="btn btn-info btn-fill btn-xs"
        ng-disabled="application.state.viewr.fetching"
        ng-click="openFile('viewr')">Select file&nbsp;&nbsp;<i class="fa fa-plus white"></i></button>
        <small ng-bind="application.state.viewr.text"></small>
        <small ng-bind="application.names.viewr"></small>
  </div>
  <div class="col-md-6 col-offset-6 margin-top-40 text-right">
    <button type="button"
      class="btn btn-success btn-fill"
      ng-disabled="!application.valid.valid"
      ng-click="goToState('convert')">Continue&nbsp;&nbsp;<i class="fa fa-angle-right white"></i></button>
  </div>
</div>
